Repository jfrog/jfrog-client-js, pull requests merged in 2023-01, with the labels that each got.

#66 Update Jest to 29.3.1
  .github/workflows/release.yml
  package-lock.json
  package.json
Labels: safe to test, ignore for release

#67 Add ignore_url attribute to violation
  model/Xray/Scan/Violation.ts
Labels: improvement

#68 Notify if server is not active
  src/HttpClient.ts
  src/Xray/XraySystemClient.ts
  test/tests/Xray/XraySystemClient.spec.ts
Labels: safe to test, improvement

#69 Update tests automation
  .github/workflows/removeLabel.yml
  .github/workflows/test.yml
Labels: ignore for release
